/*
	margin
	-margin top: px;
	-margin right: px;
	-margin bottom: px;
	-margin left: px;

	jika bertemu margin antara 2 elemen secara vertikal
	maka value margin terbesar yang akan dipakai
	sendangaan jika secara horizontal maka value marginnya akan ditambah
*/
.a {
    background-color: red;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/* kita dapat menulis margin dengan satu value untuk semua sisi*/
.b {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 30px;
}

/*	jika ditulis margin dengan dua value maka
	value pertama adalah top dan bottom
	value kedua adalah left dan right*/
.c {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 30px 40px;
}

/*	jika ditulis margin dengan tiga value maka
	value pertama adalah top dan bottom
	value kedua adalah left dan right
	value ketiga adalah bottom*/
.d {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 20px 30px 40px;
}

/*	jika ditulis margin dengan empat value maka
	value pertama adalah top 
	value kedua adalah right
	value ketiga adalah bottom
	value keempat adalah left*/
.e {
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 20px 30px 40px 50px;
}

/*	
	value margin dapat ditulis auto
	artinya valuenya akan disesuaikan dengan lebar layout
*/
.f {
    background-color: purple;
    width: 200px;
    height: 200px;
    margin: 20px auto 50px;
}